__pycache__/
*.py[cod]
*.so

env/
venv/
.venv/

.ipynb_checkpoints/

*.log
*.out
*.pid

.DS_Store
Thumbs.db

*.egg
*.egg-info/
dist/
build/
*.whl

htmlcov/
.coverage
*.cover
*.py,cover

*.c
*.o

*.tar.gz
*.zip

.env
.env.*
secrets.json

.mypy_cache/
.pytest_cache/
.tox/
.pip_cache/
__pypackages__/


.idea/
.vscode/
*.swp
*.swo
*.bak
